{% extends "base.html" %}

{% block content %}

<body id="page">

    <h1 class="header">{{ album.title }}</h1>

    <div>
        {% if album.cover %}
        <img src="{{ album.cover.url}}">
        {% endif %}
        <div class="artist">by {{ album.artist }}</div>
    </div>
    <br>
    <div class="track_list">
        <div>Track List:</div>
        {% for track in album.album_tracks.all %}
        <div>{{ track }}</div>
        {% endfor %}
    </div>

        <div class="form">
            <form class="track_form" action="{% url 'album_detail' pk=album.pk %}" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
            </form>
        </div>
    <br>
    <p>
        <a href="{% url 'edit_album' pk=album.pk %}">Edit Album</a><br>
        <a href="{% url 'delete_album' pk=album.pk %}">Delete Album</a><br>
        <a href="{% url 'album_list' %}">Return to All Albums</a>
    </p>

</body>

{% endblock %}