{% extends "base.html" %}
{% load static %}

{% block content %}

<body id="page">

    <h1 class="header">All Albums</h1>

    <div><a href="{% url 'add_album' %}">Add New Album</a></div><br>

    <div class="album_list">
        {% for album in albums %}
        <div class="album">
            <h3><a href="{% url 'album_detail' pk=album.pk %}">{{ album.title }}</a></h3>
            <div>by {{ album.artist }}</div><br>
            <time class="date">added
                {{ album.created_at }}
            </time>
        </div>
        {% endfor %}
    </div>

</body>

{% endblock %}