{% extends "base.html" %}

{% block content %}

<body id="page">

    <h1 class="header">{{ album.title }}</h1>

    <div>
        {% if album.cover %}
        <img src="{{ album.cover.url}}">
        {% endif %}
        <div>by<a class="artist" href="">{{ album.artist }}</a></div>
    </div>
    <br>
    <div class="track_list">
        <div>Track List:</div>
        {% for track in album.tracks.all %}
        <div>{{ track }}</div>
        {% endfor %}
    </div>
    <div class="form">
        <form class="track_form" action="{% url 'album_detail' pk=album.pk %}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <div>
                <button type="submit">Add Track</button>
            </div>
        </form>
    </div>
    <br>
    <p>
        <a href="{% url 'edit_album' pk=album.pk %}">Edit Album</a><br>
        <a href="{% url 'delete_album' pk=album.pk %}">Delete Album</a><br>
        <a href="{% url 'album_list' %}">Return to All Albums</a>
    </p>

</body>

{% endblock %}