{% extends "base.html" %}

{% block content %}

<body id="page">

    <h1 class="header">{{ album.title }}</h1>

    <div class="album">
        <div>by {{ album.artist }}</div><br>
        <time class="date">added
            {{ album.created_at }}
        </time>
    </div>
    <p>
        <a href="{% url 'edit_album' pk=album.pk %}">Edit Album</a><br>
        <a href="{% url 'delete_album' pk=album.pk %}">Delete Album</a><br>
        <a href="{% url 'album_list' %}">Return to All Albums</a>
    </p>

</body>

{% endblock %}